<footer class="sixteen columns">
    <hr>
    <p>This site is built with <a href="http://bolt.cm">Bolt</a>.</p>
    </footer>

</div>

<a href="https://github.com/bolt/bolt"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

</body>
</html>
